.pageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.menuRegister{
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}
.menuRegister > p{
    width: 20%;
    padding-left: 100px;
    color: var(--color-primary);
    font-weight: 800;
}
.menuRegister > nav{
    width: 60%;
    display: flex;
    justify-content: center;
    gap: 100px;
}
.menuRegister > a{
    width: 20%;
    text-align: end;
    padding-right: 50px;
    cursor: pointer;
    color: var(--color-error);
}
.menuRegister > a:hover{
    color: var(--color-error);
    cursor: pointer;
    font-weight: 700;
}
.menuRegister > nav > a{
    cursor: pointer;
    text-decoration: none;
    color: var(--color-primary);
}
.menuRegister > nav > a:hover{
    font-weight: 700;
    text-decoration: dashed;
}
.active{
    font-weight: 700;
    text-decoration: dashed;
    color: var(--color-primary);
    position: relative;
}
.active::after{
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: var(--color-primary);
    left: 0;
    bottom: -5px;
    animation: showIn .3s normal;
}
@keyframes showIn {
    0%{
        width: 0%;
        left: 50%;
    }
    100%{
        width: 100%;
        left: 0%;
    }
}
.mainBlock{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;;
    scrollbar-width: none;
}
.checkContainer{
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.blocks{
    width: 70%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:50px;
}
.leftBlocks{
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.aBox{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--color-background);
    box-shadow: 0px 2px 10px rgb(0, 0, 0, .15);
    border-radius: 20px;
}
.aBox > h1{
    font-size: 100px;
}
.aBox > button{
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100px;
    width: 300px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: whitesmoke;
    font-size: 20px;
}
.aBox > button:hover{
    background-color: var(--color-secondary);
}
.fingerprint{
    width: 10%;
}
.aBox > select{
    width: 300px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    border: none;
    box-shadow: 0px 0px 2px rgb(0, 0, 0, .3);
    border-radius: 10px;
}
.bBox{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--color-background);
    box-shadow: 0px 2px 10px rgb(0, 0, 0, .15);
    border-radius: 20px;
    font-size: 12px;
}
.cBox{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--color-background);
    box-shadow: 0px 2px 10px rgb(0, 0, 0, .15);
    border-radius: 20px;
    font-size: 12px;
}
.clockIcon{
    width: 40px;
}
.dBox{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: start;
    align-items: center;
    gap: 10px;
    background-color: var(--color-background);
    box-shadow: 0px 2px 10px rgb(0, 0, 0, .15);
    border-radius: 20px;
    font-size: 12px;
}
.dBox > h3{
    color: var(--color-primary);
    font-size: 16px;
    width: 100%;
    height: 50px;
    align-content: center;
}
.checkpoints{
    width: 100%;
    height: 180%;
    overflow: auto;
}
.checkpoints > div > p{
    width: 100%;
    padding-left: 40px;
    text-align: start;
    margin: 3px 0px;
}
.checkpoint{
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.checkpoint > img{
    width: 40px;
}


.registersContainer{
    min-width: 100%;
    height: 100%;
    background-color: brown;
}
